/* recipe cards  */
.cards {
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}
.card {
    width: calc(33% - 2rem);
  }

  .card {
    width: calc(25% - 2rem);
  }

  .card {
    width: calc(20% - 2rem);
  }

